// Define defaults for each variable.

//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
//$base-font-family: 'Source Sans Pro', sans-serif;
//$base-font-family: 'Roboto', sans-serif;
$base-font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

// $heading-text-color: #272727 !default;
// $heading-font-family: 'Source Sans Pro', sans-serif;
// $site-title-font-family: 'Roboto', sans-serif;

$spacing-unit:     30px !default;

//$text-color:       #111 !default;
$text-color:       #333;
//$text-color:       #252525;
//$background-color: #fdfdfd !default;
$background-color: #fff;
$brand-color:      #2a7ae2 !default;

$grey-color-mydark: #555555; // Herman
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
